<a href="https://colab.research.google.com/github/Brij2003/Python-Basics/blob/main/Python%20Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
print("Hello Python")

Hello Python

In python single line comment is written by using '#' and multiline by using  " " " or " "

In [ ]:
#Hello every one this is python Singleline comment
"""Hello every one
I am Brij Vaghani 
And this is python Multiline comment"""

def is a key word to define a function in python

In [2]:
def fun(n):
  if(n == 0):
    return 1
  return n * fun(n-1)

120

Type is a inbuild function used to check the data type of a variable

In [5]:
a = "Brij"
print(a)
type(a)

Brij

str

In [6]:
a = b = c = 100
print(a,b,c)
a,b,c = 10,20,30
print(a,b,c)
a=b=c=10,20,30               
print(a,b,c)

100 100 100
10 20 30
(4, 5, 6) (4, 5, 6) (4, 5, 6)

There are two types of variables in Python Local variable & Global variable

In [15]:
a = 10
def fun():
  z = 20
  print(a*a)
  print(z)          #b is only acessed in function fun 

print(a)
fun()
print(z)

10
100
20

NameError: ignored

In [19]:
a = 10
def fun():
  global z
  z = 20
  print(a*a)
  print(z)          #b is only acessed in function fun 

print(a)
fun()
print(z)

10
100
20
20

We can also type cast the given data

In [21]:
a = 5
b = 2
c = float(a/b)
print(c)
c = int(a/b)
print(c)

2.5
2

In [23]:
a = "Hello"
b = "Python"
print(a + b)
c = a + " " + b
print(c)

HelloPython
Hello Python

In [30]:
a = [1,2,3,4,5]
b = ['a','b','c','d']
print(a[1:3])
print(a[-1])
print(a[:])
print(b)
print(a + b)
b.append('e')
print(b)
a.pop(3)
print(a)

[2, 3]
5
[1, 2, 3, 4, 5]
['a', 'b', 'c', 'd']
[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 'e']
[1, 2, 3, 5]

// is used as a floor function
** is used as a power operator

In [ ]:
m = 29
n = 6
print('m + n =',m+n)
print('m - n =',m-n)
print('m * n =',m*n)
print('m / n =',m/n)
print('m // n =',m//n)
print('m ** n =',m**n)

m + n = 19
m - n = 11
m * n = 60
m / n = 3.75
m // n = 3
m ** n = 50625

In [ ]:
x = True
y = False
print("x and y is",x and y)
print("x or y is",x or y)
print("not x is",not x)

x and y is False
x or y is True
not x is False

In [3]:
x = "Hello Brij"
y = {1:'a',2:'b',3:'c',4:'d'}

print('H' in x)
print('hello' not in x)
print(1 in y)
print('a' in y)
print(y)

True
True
True
False
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [32]:
a = int(input("Enter any number:"))
print(a)

Enter any number:10
10

In [ ]:
factorial of a given number using for loop

In [36]:
a = 5
ans = 1
for i in range(2,a + 1):
  ans = ans * i


print(ans)

120